<mat-spinner *ngIf="loading" [ngClass]="isSmall? 'small' : ''">
</mat-spinner>
<div class="row col-12 d-flex justify-content-center" *ngIf="!loading">
    <div class="row col-12">
        <div >
            <a [href]="githubUser">
                <img [src]="avatarSrc"
                     alt="Imagem do usuário {{login}} no Github."
                     *ngIf="showAvatar"
                     [ngClass]="isSmall? 'small' : ''"
                >
            </a>
            <img src="./assets/undefined_user.png"
                 alt="Imagem genérica de usuário."
                 *ngIf="!showAvatar"
                 [ngClass]="isSmall? 'small' : ''"
            >
            <div *ngIf="showArrow" class="col-12 justify-content-center" >
                <mat-icon class="text-size py-1">arrow_downward</mat-icon>
            </div>
        </div>
    </div>
</div>

