<mat-spinner *ngIf="loading" [ngClass]="isSmall? 'small' : 'normal'"/>
<div class="d-flex" *ngIf="!loading">
    <a [href]="githubUser">
        <img [src]="avatarSrc"
             alt="Imagem do usuário {{login}} no Github."
             class="rounded-circle"
             *ngIf="showAvatar"
             [ngClass]="isSmall? 'small' : 'normal'"
        >
    </a>
    <img *ngIf="!showAvatar"
         alt="Imagem genérica de usuário."
         src="./assets/undefined_user.png"
         class="rounded-circle"
         [ngClass]="isSmall? 'small' : 'normal'">
    <div *ngIf="showArrow" class="align-self-center">
        <button mat-mini-fab disabled>
            <mat-icon class="text-sizer">arrow_rightward</mat-icon>
        </button>
    </div>
</div>

