<div class="w-100 h-100 d-flex py-2">
    <mat-spinner *ngIf="loading">
    </mat-spinner>
    <div class="row d-flex  justify-content-center" *ngIf="!loading">
        <div class="row col-lg-12">
            <div class="col-lg-12">
                <img [src]="avatarSrc" alt="Imagem do usuário {{username? username : ''}} no Github."
                     *ngIf="showAvatar">
                <img src="./assets/undefined_user.png"
                     alt="Imagem do usuário {{username? username : ''}}"
                     matTooltip="Imagem do usuário {{username? username : ''}}"
                     *ngIf="!showAvatar">
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-12">
                <a [href]="githubUser" style="color: #cbcbd2" [matTooltip]="githubUser"
                   *ngIf="showAvatar">  {{username}} </a>
            </div>
        </div>
    </div>
</div>

