<mat-toolbar>
    <mat-toolbar-row class="d-flex row">
        <div class="ml-3">
            <img src="./assets/icon_sm.png"
                 class="rounded-circle"
                 alt="Logo do site"
            >
        </div>
        <div class="ml-3">
            GitBacon
        </div>
        <span class="spacer">
        </span>
        <div class="col-2 d-flex justify-content-end">
            <button mat-mini-fab
                    matTooltip="Configurações de busca"
                    class="mr-2"
                    (click)="showSettings = !showSettings"
            >
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-mini-fab
                    matTooltip="Visualizar informações"
                    class="mr-2"
                    (click)="showInfo = !showInfo"
            >
                <mat-icon>info</mat-icon>
            </button>
            <a href="https://github.com/projeto-de-algoritmos/Grafos1_GitBacon">
                <button mat-mini-fab
                        matTooltip="Código fonte no Github"
                >
                    <mat-icon>code</mat-icon>
                </button>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="d-flex">
    <mat-card-title>
        <div class="col-12 text-center py-2">
            Busque a menor ligação entre dois usuários do GitHub
        </div>
    </mat-card-title>
    <div class=>
        <mat-card-content class="d-flex row py-2 ">
            <div class="row col-12 justify-content-center">
                <div class="col-1"></div>
                <div class="col-4 d-flex justify-content-center">
                    <app-avatar [user]="usuarioA"></app-avatar>
                </div>
                <div class="col-1 p-0 m-0 h-100 d-flex justify-content-center w-100">
                    <mat-icon class="align-self-center text-size"> arrow_right_alt</mat-icon>
                </div>
                <div class="col-4 p-0 m-0 w-100 d-flex justify-content-center">
                    <app-avatar [user]="usuarioB"></app-avatar>
                </div>
                <div class="col-1"></div>
            </div>
            <form class="row col-12 justify-content-center"
                  [formGroup]="formBusca"
                  *ngIf="formBusca">
                <div class="col-1"></div>
                <div class="col-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label> Usuário do GitHub</mat-label>
                        <input matInput formControlName="usuarioA"
                               (focusout)="searchUser(lblUserA)"
                               required
                        >
                    </mat-form-field>
                </div>
                <div class="col-1 d-flex justify-content-center align-content-start">
                    <button mat-mini-fab color="primary" class="align-self-start" (click)="swap()">
                        <mat-icon>swap_horiz</mat-icon>
                    </button>
                </div>
                <div class="col-4">
                    <mat-form-field class="w-100 v-100"
                                    appearance="outline">
                        <mat-label> Usuário do GitHub</mat-label>
                        <input matInput formControlName="usuarioB"
                               (focusout)="searchUser(lblUserB)"
                               required>
                    </mat-form-field>
                </div>
                <div class="col-1 ">
                    <div class="d-flex justify-content-start">
                        <button mat-mini-fab color="primary"
                                class="align-self-center" (click)="runBFS()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>


                <div class="row" *ngIf="showSettings">
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="v-100 w-100">
                            <mat-label> Nº Máximo de Camadas</mat-label>
                            <input type="number" matInput formControlName="maxLevels"/>
                        </mat-form-field>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="v-100 w-100">
                            <mat-label> Token do GitHub</mat-label>
                            <input matInput formControlName="token"/>
                        </mat-form-field>
                    </div>
                </div>
            </form>


            <mat-card-content *ngIf="showInfo">
                <app-info-component class="d-flex align-content-center py-2"/>
            </mat-card-content>
        </mat-card-content>
    </div>
    <div class="d-flex row col-12 py-2">
        <mat-card-content *ngIf="search" class="py-5 w-100">
            <app-bfs-search
                    [userOrigin]="userOrigin"
                    [userTarget]="userTarget"
            />
        </mat-card-content>
    </div>
</mat-card>


