.text-size-lg {
  transform: scale(2);
}

.img-sm {
  transform: scale(0.1);
}

.spacer {
  flex: 1 1 auto;
}

mat-card {
  height: 100%;
}

mat-drawer-container {
  min-height: 100vh;
  max-height: 100%;
  
}