.terminal {
  background-color: black;
  color: greenyellow;
  font-family: monospace;
  max-height: 300px;
  box-shadow: 0 0 10px #868585;
  border: #4b4949 solid thin;
  border-radius: 3vh;
}

mat-chip {
  font-size: 3vh;
}