<mat-card-content class="d-flex align-content-center py-2 px-2">
    <div class="row col-lg-12">
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Número de Kevin Bacon
                    </mat-panel-title>

                    <div class="mx-2 my-2">
                        <mat-icon>info</mat-icon>
                    </div>
                </mat-expansion-panel-header>
                O Número de Bacon é... ..... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis
                neque
                pellentesque, sodales elit id, commodo magna. Aenean id egestas velit. Cras non orci orci. Sed
                molestie sed justo vel scelerisque. Quisque varius mauris quis tempor pellentesque. Aliquam nec
                congue erat. Aliquam finibus sem et tristique mattis. Sed aliquet vehicula orci rhoncus tempus.
                Nunc
                luctus mi mauris, tristique interdum tellus porta at.
                Leia mais sobre em:
            </mat-expansion-panel>
        </div>
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Grafos
                    </mat-panel-title>
                    <div class="mx-2 my-2">
                        <mat-icon>info</mat-icon>
                    </div>
                </mat-expansion-panel-header>
                Grafos são... ..... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis
                neque
                pellentesque, sodales elit id, commodo magna. Aenean id egestas velit. Cras non orci orci. Sed
                molestie sed justo vel scelerisque. Quisque varius mauris quis tempor pellentesque. Aliquam nec
                congue erat. Aliquam finibus sem et tristique mattis. Sed aliquet vehicula orci rhoncus tempus.
                Nunc
                luctus mi mauris, tristique interdum tellus porta at.
                Leia mais sobre em:
            </mat-expansion-panel>
        </div>
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        GitHub
                    </mat-panel-title>
                    <div class="mx-2 my-2">
                        <mat-icon>info</mat-icon>
                    </div>
                </mat-expansion-panel-header>
                Grafos são... ..... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis
                neque
                pellentesque, sodales elit id, commodo magna. Aenean id egestas velit. Cras non orci orci. Sed
                molestie sed justo vel scelerisque. Quisque varius mauris quis tempor pellentesque. Aliquam nec
                congue erat. Aliquam finibus sem et tristique mattis. Sed aliquet vehicula orci rhoncus tempus.
                Nunc
                luctus mi mauris, tristique interdum tellus porta at.
                Leia mais sobre em:
            </mat-expansion-panel>
        </div>
    </div>
</mat-card-content>
